body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#preloader {
    background: #f0e130 url('images/walk.gif') no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

iframe {
    height: auto;
    width: 100%;
}

#image1 {
    height: auto;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 32vh;
    right: 50vh;
}

#image2 {
    height: auto;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 15vh;
    left: 50vh;
}

#image3 {
    height: auto;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 22vh;
    right: 50vh;
}

#image1 img,
#image2 img {
    width: 100%;
    filter: drop-shadow(10px 10px 10px #000);
}

#image3 img {
    width: 70%;
    filter: drop-shadow(10px 10px 10px #000);
}

#dialogue-box1, #next1 {
    height: auto;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative;
    top: -10vh;
    left: 50vh;
}

#dialogue-box2, #next2 {
    height: auto;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative;
    top: -32vh;
    right: 50vh;
}

#dialogue-box3, #join {
    height: auto;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative;
    top: -30vh;
    left: 50vh;
}

#join-form,
#success {
    height: auto;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 10vh;
}

.button {
    background: #f0e130;
    border: 3px solid #000;
    padding: 5px;
}

#part1 {
    background: url('images/IMG_3076.jpg') no-repeat center center;
    height: 100vh;
    width: 100%;
}

#part2 {
    background: url('images/IMG_1234.jpg') no-repeat center center;
    height: 100vh;
    width: 100%;
    opacity: 0;
    display: none;
}

#part3 {
    background: url('images/IMG_1235.jpg') no-repeat center center;
    height: 100vh;
    width: 100%;
    opacity: 0;
    display: none;
}

#join-container,
#success-container {
    background: #f0e130;
    height: 100vh;
    width: 100%;
}

#dialogue-box1,
#dialogue-box2,
#dialogue-box3 {
    background: #000;
}

#join-form,
#success {
    background: #fff;
}

.hey1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
}

.hey2 {
    color: #f0e130;
    text-transform: uppercase;
    font-size: 27px;
}

.paragraph {
    color: #fff;
    font-size: 21px;
}

.join1 {
    text-transform: uppercase;
    font-size: 27px;
}

.join2 {
    font-size: 21px;
}

a {
    text-decoration: none;
    color: #000;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 50%;
    background: #f0e130;
    color: #000;
    border: 3px solid #000;
}

select {
    width: 25%;
    background: #f0e130;
    color: #000;
    border: 3px solid #000;
}

@media screen and (max-width: 1200px) {
    #image1,
    #image3 {
        top: 5vh;
        right: 0;
        width: 25%;
    }

    #image2 {
        top: 5vh;
        left: 0;
        width: 25%;
    }

    #dialogue-box1, #next1,
    #dialogue-box3, #join {
        top: 5vh;
        left: 0;
    }

    #dialogue-box2, #next2 {
        top: 5vh;
        right: 0;
    }

    #join-form,
    #success {
        width: 60%;
        top: 0;
    }

    .hey1, .join1 {
        font-size: 15px;
    }

    .hey2, .join2 {
        font-size: 18px;
    }

    .paragraph {
        font-size: 12px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .hey1, .join1 {
        font-size: 21px;
    }

    .hey2, .join2 {
        font-size: 24px;
    }

    .paragraph {
        font-size: 18px;
    }
}