body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#preloader {
    background: #f0e130 url('images/walk.gif') no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

iframe {
    height: auto;
    width: 100%;
}

#dialogue-box1, #next1 {
    height: auto;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 32vh;
    right: 50vh;
}

#dialogue-box2, #next2 {
    height: auto;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 32vh;
    right: 50vh;
}

#dialogue-box3, #join {
    height: auto;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 32vh;
    left: 50vh;
}

#join-form,
#success {
    height: auto;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 10vh;
}

.button {
    background: #f0e130;
    border: 3px solid #000;
    padding: 5px;
}

#part1 {
    background: url('images/porsche-gentleman.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#part2 {
    background: url('images/pool-gentleman.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 0;
    display: none;
}

#part3 {
    background: url('images/reading-room-gentleman.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 0;
    display: none;
}

#join-container,
#success-container {
    background: #f0e130;
    height: 100vh;
    width: 100%;
}

#dialogue-box1,
#dialogue-box2,
#dialogue-box3 {
    background: #000;
}

#join-form,
#success {
    background: #fff;
}

.hey1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
}

.hey2 {
    color: #f0e130;
    text-transform: uppercase;
    font-size: 27px;
}

.paragraph {
    color: #fff;
    font-size: 21px;
}

.join1 {
    text-transform: uppercase;
    font-size: 27px;
}

.join2 {
    font-size: 21px;
}

a {
    text-decoration: none;
    color: #000;
}

label {
    font-weight: bold;
    font-size: 18px;
}

input, textarea {
    font-size: 18px;
    width: 50%;
    background: #f0e130;
    color: #000;
    border: 3px solid #000;
}

select {
    font-size: 18px;
    width: 50%;
    background: #f0e130;
    color: #000;
    border: 3px solid #000;
}

@media screen and (max-width: 1700px) {
    #dialogue-box3, #join {
        top: 5vh;
        left: 0;
    }

    #dialogue-box1, #next1,
    #dialogue-box2, #next2 {
        top: 5vh;
        right: 0;
    }

    #join-form,
    #success {
        width: 60%;
        top: 0;
    }

    .hey1, .join1 {
        font-size: 15px;
    }

    .hey2, .join2 {
        font-size: 18px;
    }

    .paragraph {
        font-size: 12px;
    }

    label, input, 
    textarea, select {
        font-size: 9px;
    }
}

@media screen and (min-width: 2000px) {
    .hey1, .join1 {
        font-size: 30px;
    }

    .hey2, .join2 {
        font-size: 33px;
    }

    .paragraph {
        font-size: 27px;
    }

    label, input, 
    textarea, select {
        font-size: 24px;
    }
}